* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.list {
  list-style: none;
  display: flex;
}

.list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .list li {
    margin-left: 0;
    opacity: 0;
  }
  .menu {
    display: block;
  }
}

.list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .line2 {
  opacity: 0;
}

.menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#planofundo{
  background-color: #B0C4DE;
  opacity: 0.8;
  color: white;
  height: 450px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

#subtitulo{
  font-family: sans-serif;
  font-size: 30px;
  color: red;
  opacity: 0.9;
  margin-left: 100px;
  margin-right: 100px;
}

#p1 {
  font-family: sans-serif;
  font-size: 14px;
  color: #B22222;
  margin-left: 100px;
  margin-right: 100px;
  position: center;
}


#rodape{
bottom: 0px;
width: 100%;
background-color: #23232e;
color: white;
padding-bottom: 10px;
margin-left: 0px;
margin-right:  0px;
height: 45px;
position: absolute;
align-items: center;
justify-content: center;
display: flex;
padding-top: 25px;
box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}

#coluna{
text-align: center;
min-width: 300px;
padding-top: 0px;
top: 0px;
margin-bottom:  20px;
width: 350px;
padding-left: 0px;
padding-right: 20px;
height: 55px;
font-family: sans-serif;
font-size: 12px;
position: relative;
}
.rdp:link {
text-decoration: none;
color: white;
}
.rdp:visited {
text-decoration: none;
color: white;
}
.rdp:hover {
letter-spacing: 3px;
color: white;
-webkit-transition: 0.2s ease-out;
-moz-transition: 0.2s ease-out;
-o-transition: 0.2s ease-out;
transition: 0.2s ease-out;
}

.holder {
    display: flex;
    justify-content: center;
}


div.imagem {
      display:inline-block;
      margin-left: 50px;
    }

    p {
      text-align:center;
    }

    .botao2 {
        font-size: 1.2em;
        background: red;
        border: 0;
        margin-bottom: 1em;
        color: #ffffff;
        padding: 0.2em 0.6em;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        position: absolute;
        top: 64%;
        left: 22.2%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .botao2:hover {
        background: red;
        opacity: 0.8;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
    }

    .botao2, select{
        cursor: pointer;
      }

    .botao3 {
        font-size: 1.2em;
        background: red;
        border: 0;
        margin-bottom: 1em;
        color: #ffffff;
        padding: 0.2em 0.6em;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        position: absolute;
        top: 64%;
        left: 47%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
        }

    .botao3:hover {
        background: red;
        opacity: 0.8;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
        }

    .botao3, select{
        cursor: pointer;
        }

    .botao4 {
      font-size: 1.2em;
      background: red;
      border: 0;
      margin-bottom: 1em;
      color: #ffffff;
      padding: 0.2em 0.6em;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      position: absolute;
      top: 64%;
      left: 71.8%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

    .botao4:hover {
        background: red;
        opacity: 0.8;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
        text-shadow: none;
      }

    .botao4, select{
      cursor: pointer;
    }
